/* Centrage du titre */
.login-session {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Centrer le formulaire horizontalement et verticalement */
.form-session-login {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
}


/* Style des boutons */
.button-session-new [type="submit"] {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.button-session-new [type="submit"]:hover {
  color: white;
  background-color: #0056b3;
}

/* Style du lien sous le bouton */
.button-session-new .nav-link {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.button-session-new .nav-link:hover {
  text-decoration: underline;
}

/* Ajouter un petit espacement entre les inputs */
.form-inputs-session .input {
  margin-bottom: 15px;
}


