<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">

      <!-- Titre principal -->
    <div class="animated-heading theme-light">
      <h1 class="display-4 fw-bold mb-4">
        Bienvenue sur Dev
        <span class="animated-letter">
          <span>A</span>
          <span class="ruby"> Ruby </span>
          <span class="python">Python</span>
          <span class="css">CSS</span>
          <span class="js">JavaScript</span>
          <span clas="html">HTML</span>
        </span>
      </h1>
    </div>


      <p class="lead mb-4">
        La plateforme qui simplifie vos révisions<br>
        Générez des exercices, testez vos connaissances.
      </p>

      <% if user_signed_in? %>
        <%= button_to "Commencer", chats_path ,method: :post, class: " btn btn-primary"  %>
      <% end %>

    </div>
  </div>
</div>
