.alert {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 30%;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}
