<h1><%= @exercise.title %></h1>
<p><%= @exercise.content %></p>

<% unless @exercise.finished %>
  <%= button_to "Exercice fait",
    finish_exercise_path(@exercise),
    method: :patch,
    class: "btn btn-primary btn-sm" %>
<% else %>
  <p>L’exercice est terminé ✔</p>
<% end %>
